extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Perfil

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row.mb-3
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7
        input.form-control(type='email', name='email', id='email', value=user.email)
    .form-group.row.mb-3
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Nome
      .col-md-7
        input.form-control(type='text', name='name', id='name', value=user.profile.name)
    .form-group.row.mb-3
      label.col-md-3.col-form-label.font-weight-bold.text-right Gênero
      .col-md-7
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
          span Masculino
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
          span Feminino
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='other', name='gender', value='other', data-toggle='radio')
          span Outro
    .form-group.row.mb-3
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='location') Localização
      .col-md-7
        input.form-control(type='text', name='location', id='location', value=user.profile.location)
    .form-group.row.mb-3
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='website') Website
      .col-md-7
        input.form-control(type='text', name='website', id='website', value=user.profile.website)
    .form-group.row.mb-3
      label.col-md-3.col-form-label.font-weight-bold.text-right Gravatar
      .col-md-7
        img(src=user.gravatar(), class='profile', width='100', height='100')
    .form-group.row.mb-3
      .col-md-7.offset-md-3
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Atualizar Perfil

  if !user.isAdmin
    .pb-2.mt-5.mb-4.border-bottom
      h3 Tornar-se Administrador
      
    form.form-horizontal(action='/make-admin', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      input(type='hidden', name='userId', value=user._id)
      .form-group.row.mb-3
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='secretKey') Chave Secreta
        .col-md-7
          input.form-control(type='password', name='secretKey', id='secretKey', required)
      .form-group.row.mb-3
        .col-md-7.offset-md-3
          button.btn.btn-warning(type='submit')
            i.fas.fa-user-shield.me-2
            | Tornar-se Admin
  else
    .pb-2.mt-5.mb-4.border-bottom
      h3 Remover Privilégios de Administrador
      
    form.form-horizontal(action='/remove-admin', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      input(type='hidden', name='userId', value=user._id)
      .form-group.row.mb-3
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='secretKey') Chave Secreta
        .col-md-7
          input.form-control(type='password', name='secretKey', id='secretKey', required)
      .form-group.row.mb-3
        .col-md-7.offset-md-3
          button.btn.btn-danger(type='submit')
            i.fas.fa-user-times.me-2
            | Remover Admin

  .pb-2.mt-5.mb-4.border-bottom
    h3 Alterar Senha

  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row.mb-3
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Nova Senha
      .col-md-7
        input.form-control(type='password', name='password', id='password')
    .form-group.row.mb-3
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmPassword') Confirmar Senha
      .col-md-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group.row.mb-3
      .col-md-7.offset-md-3
        button.btn.btn-primary(type='submit')
          i.fa.fa-lock
          | Alterar Senha

  .pb-2.mt-5.mb-4.border-bottom
    h3 Excluir Conta

  form.form-horizontal(action='/account/delete', method='POST', onsubmit='return confirm("Você tem certeza? Essa ação não pode ser desfeita.");')
    .form-group.row.mb-3
      .col-md-7.offset-md-3
        input(type='hidden', name='_csrf', value=_csrf)
        button.btn.btn-danger(type='submit')
          i.fa.fa-trash
          | Excluir minha conta

  .pb-2.mt-5.mb-4.border-bottom
    h3 Vincular Contas
  .row
    .col-md-3.pb-2
      if user.google
        p: a.btn.btn-block.btn-google.btn-social(href='/account/unlink/google')
          i.fab.fa-google-plus-g.fa-sm
          | Desvincular Google
      else
        p: a.btn.btn-block.btn-google.btn-social(href='/auth/google')
          i.fab.fa-google-plus-g.fa-sm
          | Vincular Google